<h2>Напишите нам</h2>

<form action='/contacts' method='POST'>
  
  <div class="form-group">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input name="name" type="text" class="form-control" placeholder="Enter you name">
    <label for="exampleInputEmail1">BarberShop@gmail.com</label>
    <textarea content="message" class="form-control" rows="3" placeholder="Your message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>

<h2>Или позвоните</h2>
<form>
  <p>Контактный телефон парикмахерской:</p>
  <li><kbd>+380961319191</kbd> (call KyivStar)</li>
  <li><kbd>+309612345678</kbd> (call KyivStar)</li>
</form>
